<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ZikaJA</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">


    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Custom CSS -->
    <link href="css/modern-business.css" rel="stylesheet">
    <link href="css/extra.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/sweetalert.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-app="Zika">

    <!-- Navigation -->
    <nav class="nav navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><img src="img/logo.png" height="30px"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="form/">Check Your Self</a>
                    </li>
                    <li>
                        <a href="info.html">Educate Your Self</a>
                    </li>
                    <li>
                        <a href="notice.html">Notice board</a>
                    </li>
                    <li>
                        <a href="report.html">Report</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


<!-- Page Content -->
    <div class="container" ng-controller="Report">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="contact-form-container">
                  <div class="row">
                        <h2 class="section-heading">Report</h2>
                        <p class="section-subheading">This is a Portal for the public to report grievances with neighbors with open containers on property that may cause breeding of mosquitoes in and around the area.</p>
                  </div>
                  <div class="row">
                        <form id="contactForm"  ng-model="TData">
                              <div class="row">
                                    <div class="form-group">
                                          <input placeholder="Name" class="form-control" data-validation-required-message="Please enter your name." id="name" required="" ng-model="TData.name">
                                          <p class="help-block text-danger"></p>
                                    </div>
                                    <div class="form-group ">
                                          <input placeholder="Email" class="form-control" data-validation-required-message="Please enter your email address." id="email" required="" type="email" ng-model="TData.email">
                                          <p class="help-block text-danger"></p>
                                    </div>
                                    <div class="form-group">
                                          <input placeholder="Address" class="form-control" data-validation-required-message="Please enter your name." id="Address" required="" ng-model="TData.address" type="text">
                                          <p class="help-block text-danger"></p>
                                    </div>
                                    <div class="form-group form-textarea">
                                          <textarea class="form-control" data-validation-required-message="Please enter a message." id="Report" placeholder="Report" required="" ng-model="TData.message"></textarea>
                                          <p class="help-block text-danger"></p>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="text-center">
                                          <div id="success"></div>
                                          <button type="submit" class="btn btn-xl" ng-click="SendData(TData)">Submit Report</button>
                                    </div>
                              </div>
                        </form>
                  </div>
            </div>
            </div>
        </div>
        <!-- /.row -->

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; 2016 ZikaJA</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/firebase.js"></script>
    <!-- AngularJS -->
    <script src="js/angular.min.js"></script>
    <!-- AngularFire -->
    <script src="js/angularfire.min.js"></script>
<script src="../js/sweetalert.min.js"></script>
    <script type="text/javascript" src="js/config.js"></script>
    <script type="text/javascript" src="js/app.js"></script>

</body>

</html>
