/* Empty. Add your own CSS if you like */


.center{
	text-align: center;
}

.logo{
	padding-top: 20px;
}

.btn1{
	padding-left: 50px;
	padding-right: 50px;
}

h4{
	padding-left: 10px;
}


textarea{
	height: 150px;
}