<!-- 
Created by: Agyei Masters
Github: https://github.com/helium96
Twitter: @_helium
-->

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Firebase Login | AngularFire</title>

	<!-- Bootstrap minified CSS-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<!-- CSS Style -->
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body ng-app="Zika">
	<div class="container" ng-controller="AuthCtrl">

      <form class="form-signin">
        <center><img src="img/logo.png" width="200px"></center>

        <h2 class="form-signin-heading">Admin Login</h2>

        <input type="text"  class="form-control" placeholder="Email address" ng-model="login.email">

        <input type="password"  class="form-control" placeholder="Password" ng-model="login.password"> 
        <!---->

        <button class="btn btn-large btn-primary" ng-click="login(login.email,login.password)">Login</button>

        <p class="success" ng-if="message"><strong>{{ message }}</strong></p> 
  <p class="error" ng-if="error"><strong>{{ error }}</strong></p>

      </form>

    </div>

      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
      <!-- <script type="text/javascript" src="js/main.js"></script> -->
        <script src="js/firebase.js"></script>
  <!-- AngularJS -->
  <script src="js/angular.min.js"></script>
  <!-- AngularFire -->
  <script src="js/angularfire.min.js"></script>

  <script type="text/javascript" src="js/config.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
    </body>
</html>